@font-face {
  font-weight: 400;
  font-family: "Nickainleynormal";
  font-style: normal;
  src: url("../fonts/Nickainleynormal.woff") format("woff");
}
.reset {
  margin: 0;
  padding: 0;
}
.transition {
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Open Sans", "Arial", sans-serif;
  min-height: 100%;
  line-height: 1.28571429;
  font-size: 14px;
  color: #333;
  background: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 50px;
  padding-top: 50px;
}
.content-wrapper {
  width: 74%;
}
.col_right {
  float: right;
  position: relative;
  min-height: 1px;
}
.container {
  width: 1200px;
  min-width: 300px;
  margin: 0 auto;
}
a {
  color: #3b9ec8;
  text-decoration: none;
  text-shadow: 0 0 0;
  background-color: transparent;
  -webkit-transition: background-color, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}
a:hover {
  color: #3b9ec8;
  text-decoration: underline;
  outline: 0;
  -webkit-transition: background-color, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}
.article-main {
  margin-bottom: 30px;
}
.article-main p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 26px;
}
.article-main ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  overflow: hidden;
}
.article-main ul li {
  padding-right: 22px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}
.article-main ul li:last-child {
  margin-bottom: 0;
}
.breadcrumbs li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.breadcrumbs .seprtr {
  padding: 0 10px;
}
.page-header {
  margin-bottom: 30px;
  padding-bottom: 50px;
  position: relative;
  border-bottom: 1px solid #ebe9e3;
}
h1,
h2,
h3,
h4,
h5,
h6,
.section__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 15px;
  font-family: 'Oranienbaum', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.page-title {
  margin-bottom: 10px;
  padding-top: 0;
  font-size: 30px;
}
.breadcrumbs {
  font-size: 12px;
  color: #abc3ca;
}
.article-main h2.section__title,
.article-main h3.section__title {
  margin-bottom: 20px;
  font-family: "Oranienbaum", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.section__title {
  margin-bottom: 15px;
  padding-top: 0;
  font-size: 24px;
  text-align: center;
}
.section__title .subtitle {
  display: inline-block;
  position: relative;
  font-family: 'NickainleyNormal', sans-serif;
  font-size: 20px;
  text-transform: none;
  color: #abc3ca;
}
.section__title .subtitle:after,
.section__title .subtitle:before {
  display: block;
  width: 30px;
  height: 1px;
  position: absolute;
  top: 50%;
  content: ' ';
  background: #abc3ca;
}
.section__title .subtitle:before {
  right: -45px;
}
.section__title .subtitle:after {
  left: -45px;
}
.ol {
  margin-bottom: 30px;
}
.ol ol {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: list;
}
.ol ol li {
  position: relative;
  padding-left: 110px;
  min-height: 82px;
  margin-bottom: 20px;
  color: #4b4b4b;
  font-size: 16px;
}
.ol ol li:before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 82px;
  border-radius: 41px;
  background: #f3f9f9;
  line-height: 82px;
  text-align: center;
  font-size: 30px;
  font-family: "Oranienbaum", sans-serif;
}
.ol ol li div {
  height: 82px;
  display: table-cell;
  vertical-align: middle;
}
.infotext {
  margin-bottom: 30px;
  line-height: 24px;
}
.infotext h2.section__title,
.infotext h3.section__title {
  margin-bottom: 20px;
  font-family: "Oranienbaum", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.infotext__img {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}
.infotext__img img {
  width: 100%;
  height: auto;
  display: block;
}
.infotext__preview {
  color: #8a8a8a;
  font-size: 16px;
  line-height: 25px;
}
.section-icon {
  letter-spacing: 0.1em;
  padding-top: 85px;
  background-image: url(../img/icons/icon-1.svg);
  background-repeat: no-repeat;
  background-size: 73px 64px;
  background-position: top center;
}
.section-icon .section__title .subtitle {
  letter-spacing: normal;
}
.section-icon--doc {
  padding-top: 105px;
  background-image: url(../img/icons/icon-2.svg);
  background-size: 50px 77px;
}
.connect {
  padding: 20px;
  margin-bottom: 40px;
  color: #2e4143;
  background-color: #f4f8f9;
}
.connect p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
.connect__list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.connect__item {
  margin: 0;
  padding: 0;
  width: 50%;
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.connect__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 46px;
  height: 46px;
  background-image: url(../img/icons/icon-tel.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.connect__item span {
  color: #b8cbd5;
  font-size: 16px;
}
.connect__item--email {
  width: auto;
}
.connect__item--email .connect__tel {
  margin-left: auto;
  font-size: 25px;
}
.connect__item--email::before {
  top: -10px;
  width: 47px;
  height: 47px;
  background-image: url(../img/icons/icon-email.png);
}
.connect__item--nets {
  width: auto;
  padding-left: 105px;
}
.connect__item--nets::before {
  top: -5px;
  width: 94px;
  background-image: url(../img/icons/nets.png);
}
.connect__item--nets .connect__tel {
  margin-left: auto;
}
.connect__tel {
  display: block;
  color: #4b4b4b;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  color: #2e4143;
  text-decoration: none !important;
}
.connect__comment {
  max-width: 710px;
}
.benefits {
  max-width: 800px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  counter-reset: myCounter;
  list-style-type: none;
  overflow: hidden;
}
.benefits li {
  margin-bottom: 35px;
  padding-left: 100px;
  position: relative;
}
.benefits li:nth-child(3),
.benefits li:nth-child(4) {
  margin-bottom: 65px;
}
.benefits li:nth-child(2) {
  margin-bottom: 50px;
}
.benefits li::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  position: absolute;
  top: -20px;
  left: 0;
  display: block;
  width: 80px;
  height: 80px;
  font-family: 'Oranienbaum', sans-serif;
  text-align: center;
  color: #4b4b4b;
  font-size: 30px;
  line-height: 80px;
  font-weight: 400;
  border-radius: 50%;
  background-color: #f4f8f9;
}
.benefits__title {
  margin: 0 !important;
  color: #3b9ec8;
  text-transform: uppercase;
}
.manager {
  overflow: hidden;
}
.manager__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 80px;
}
.manager__item {
  margin: 0;
  padding: 0;
  width: 190px;
  padding-top: 35px;
  text-align: center;
}
.manager__link {
  display: block;
  text-decoration: none !important;
}
.manager__link:hover .manager__name {
  color: #c5360c;
}
.manager__img {
  margin: 0;
  padding: 0;
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
  margin-left: 20px;
  padding: 5px;
  position: relative;
  background: #fff;
  -webkit-box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 11;
}
.manager__img::after {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3px;
  left: -3px;
  content: ' ';
  background: #fff;
  border: 3px dotted #d8e4e8;
  z-index: -1;
}
.manager__img img {
  display: block;
  width: 142%;
  height: auto;
  margin-left: -21%;
  margin-top: -21%;
  max-width: 142%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.manager__pic {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.manager__name {
  margin: 0;
  font-family: 'Oranienbaum', sans-serif;
  color: #4c4c4c;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  font-variant: small-caps;
}
.icons {
  margin: 0;
  padding: 0;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f1f6f8;
}
.icons__item {
  margin: 0 !important;
  padding: 0 !important;
  width: 25%;
  color: #333333;
  text-align: center;
}
.icons__img {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons__img img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.help {
  margin-bottom: 100px;
  padding: 30px;
  padding-bottom: 45px;
  border: 1px dashed #dfdfdf;
  border-radius: 3px;
}
.help .section__title {
  letter-spacing: 0.1em;
}
.help .section__title .subtitle {
  display: inline-block;
  margin-top: 15px;
}
.help__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.help__field {
  margin: 0;
  padding: 0;
  border: 0;
  width: 28%;
}
.help__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;
  color: #9e988d;
  font-size: 14px;
  line-height: 26px;
}
.help__input {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 12px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.help__input::-webkit-input-placeholder {
  opacity: 1;
  color: #969696;
}
.help__input::-moz-placeholder {
  opacity: 1;
  color: #969696;
}
.help__input:-ms-input-placeholder {
  opacity: 1;
  color: #969696;
}
.help__input::-ms-input-placeholder {
  opacity: 1;
  color: #969696;
}
.help__input::placeholder {
  opacity: 1;
  color: #969696;
}
.help__btn {
  width: 30%;
  height: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  border: 0;
  background-color: #599dc9;
  cursor: pointer;
}
.help__btn:hover {
  background-color: #66b7da;
}
.help__comment {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding-left: 95px;
  color: #959595;
  font-size: 12px;
  line-height: 18px;
}
.help__comment::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 78px;
  height: 52px;
  background-image: url(../img/icons/icon-comment.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.block {
  margin-top: 30px;
  margin-bottom: 35px;
  padding: 25px 35px;
  padding-bottom: 40px;
  color: #353738;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 33, 63, 0.07);
          box-shadow: 0px 1px 8px 0px rgba(0, 33, 63, 0.07);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.block__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}
.block__img {
  width: 32%;
  height: 170px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.block__img img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: auto;
}
.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block__label {
  width: 190px;
}
.block__label .block__title {
  margin-bottom: 0;
  text-align: center;
  font-size: 20px;
}
.block__text {
  width: calc(100% - 225px);
}
.block__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'Oranienbaum', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.block__parameters {
  margin-bottom: 25px;
  font-size: 18px;
}
.block__parameters p {
  margin: 0;
}
.block__pic {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}
.block__subtitle {
  margin: 0;
  font-family: 'NickainleyNormal', sans-serif;
  font-size: 22px;
  text-transform: none;
  color: #abc3ca;
  text-align: center;
}
.block__subtitle span {
  position: relative;
}
.block__subtitle span::before,
.block__subtitle span::after {
  display: block;
  width: 25px;
  height: 1px;
  position: absolute;
  top: 50%;
  content: ' ';
  background: #abc3ca;
}
.block__subtitle span::before {
  right: -30px;
}
.block__subtitle span::after {
  left: -30px;
}
.problem {
  padding: 20px 40px;
  font-size: 16px;
  background-color: #f0f6f7;
  outline: 1px solid #d7e0e1;
  outline-offset: -4px;
}
.problem__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.problem__fields {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.problem__text {
  width: calc(100% - 250px);
}
.problem__label {
  display: block;
  margin-bottom: 5px;
  color: #897e82;
}
.problem__label span {
  color: red;
}
.problem__input {
  display: block;
  width: 100%;
  height: 35px;
  border: 1px solid #e5e8e9;
  border-radius: 2px;
  background-color: #ffffff;
}
.problem__message {
  display: block;
  width: 100%;
  height: 181px;
  min-height: 181px;
  border: 1px solid #e5e8e9;
  border-radius: 2px;
  background-color: #ffffff;
}
.problem__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.problem__captcha {
  margin-right: 30px;
}
.problem__btn {
  display: block;
  width: 157px;
  height: 44px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #3b9ec8;
  border: 0;
  cursor: pointer;
}
.problem__btn:hover {
  background-color: #66b7da;
}
.wrapper {
  width: 1200px;
  min-width: 300px;
  margin: 0 auto;
}
.video-promo {
  padding-top: 25px;
  padding-bottom: 10px;
  background: #FCFCFC;
}
.video-promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.video-promo__info {
  width: 50%;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.video-promo__block {
  width: 50%;
}
.video-promo__link,
.video-promo__link img {
  display: block;
}
.video-promo__title {
  margin: 0;
  font-family: "Oranienbaum", sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 52px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
}
.video-promo__subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #010000;
}
.video-promo__btn {
  width: 496px;
  height: 53px;
  max-width: 100%;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #3B9EC8;
}
.video-promo__btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #66b7da;
}
.video-icons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 35px;
}
.video-icons__item {
  font-weight: normal;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #010000;
}
.video-icons__img {
  width: 150px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video-icons__img img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.steps {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FCFCFC;
}
.steps__title {
  margin: 0;
  font-family: "Oranienbaum", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}
.steps__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}
.steps__item {
  padding: 0 10px;
  border-right: 1px solid #000;
}
.steps__item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.steps__item a:hover,
.steps__item a:active {
  color: #3B9EC8;
  border-bottom-color: rgba(255, 255, 255, 0);
}
.steps__item:last-child {
  border-right: 0;
}
.steps-tabs__title {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  border-bottom: 1px solid #E6E6E6;
}
.steps-tabs__title .ui-tabs-active::before {
  display: block;
}
.steps-tabs__name {
  position: relative;
  margin: 0 10px;
}
.steps-tabs__name::before {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #3B9EC8;
  border-radius: 5px;
}
.steps-tabs__name a {
  outline: none;
  display: block;
  padding: 15px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none !important;
}
.steps-tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
}
.steps-tabs__item {
  position: relative;
  width: 277px;
  max-width: 100%;
  margin-right: 30px;
  margin-bottom: 40px;
}
.steps-tabs__link {
  display: block;
}
.steps-tabs__link:hover {
  text-decoration: none !important;
}
.steps-tabs__link:hover .steps-tabs__img {
  -webkit-box-shadow: 0px 5px 8px rgba(0, 33, 63, 0.1);
          box-shadow: 0px 5px 8px rgba(0, 33, 63, 0.1);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.steps-tabs__link:hover .steps-tabs__number {
  color: #3B9EC8;
}
.steps-tabs__img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 156px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 3px;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.steps-tabs__img img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 100%;
  min-height: 100%;
}
.steps-tabs__label {
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 10;
  display: block;
  padding: 7px;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  pointer-events: none;
}
.steps-tabs__label--newcomer {
  background-color: #CF9C00;
}
.steps-tabs__label--new {
  background-color: #3B9EC8;
}
.steps-tabs__label--hit {
  background-color: #F92A2A;
}
.steps-tabs__head {
  margin: 0;
  font-family: "Oranienbaum", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}
.steps-tabs__number {
  color: #7E7D7D;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}
.new-video {
  padding-top: 65px;
  padding-bottom: 90px;
}
.new-video__youtube {
  display: block;
  margin-bottom: 70px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}
.new-video__youtube b {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.new-video__youtube b::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 29px;
  height: 29px;
  background-image: url(../../img/icons/youtube.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.new-video__youtube:hover,
.new-video__youtube:active {
  color: red;
  text-decoration: none;
}
.new-video__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.new-video__info {
  width: 50%;
  padding-right: 75px;
  color: #010000;
  letter-spacing: 1.1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.new-video__img {
  width: 50%;
}
.new-video__title {
  margin-top: 0;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}
.new-video__link {
  display: block;
  position: relative;
}
.new-video__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 172px;
  height: 172px;
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.topics {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #FCFCFC;
}
.topics__title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.topics__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.topics__item {
  min-width: 20%;
  margin-bottom: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.topics__item a {
  display: block;
  margin-bottom: 5px;
  color: #3D9EC8;
}
.topics__item a:first-child {
  margin-bottom: 24px;
  text-transform: uppercase;
}
.recent {
  padding-top: 50px;
  padding-bottom: 60px;
}
.recent__title {
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}
.recent__slider {
  margin-top: 50px;
}
.recent__slide {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.recent__rating {
  margin-top: 15px;
  margin-bottom: 5px;
}
.recent__review {
  font-size: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7E7D7D;
}
.recent__review:hover {
  color: #66b7da;
}
.recent__wrap {
  position: relative;
}
.recent__prev,
.recent__next {
  width: 30px;
  height: 50px;
  color: #7E7D7D;
  line-height: 1;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  background-image: none;
  outline: none;
}
.recent__prev:hover,
.recent__next:hover {
  color: #66b7da;
}
.recent__prev {
  left: -30px;
}
.recent__next {
  right: -30px;
}
@media (max-width: 766px) {
  .icons,
  .manager__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .manager__item {
    margin-bottom: 20px;
  }
  .connect__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .icons__item {
    width: 50%;
  }
  .help__line {
    display: block;
  }
  .help__field {
    width: 100%;
    margin-bottom: 10px;
  }
  .help__btn {
    display: block;
    margin-top: 20px;
    width: 260px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .block__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block__label {
    margin-bottom: 30px;
  }
  .block__text {
    width: 100%;
  }
  .block__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .block__img {
    width: 260px;
    margin-bottom: 20px;
  }
  .block__img:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .problem__fields,
  .problem__text,
  .icons__item {
    width: 100%;
  }
  .connect__item--email .connect__tel,
  .connect__tel {
    font-size: 20px;
  }
  .connect__item span {
    font-size: 12px;
  }
  .problem__wrap,
  .problem__bottom {
    display: block;
  }
  .problem__captcha {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .problem__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
