@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .steps-tabs__list {
    margin-right: 0;
  }
  .topics__item {
    width: 25%;
    min-width: 25%;
  }
  .recent__wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  .recent__prev {
    left: -15px;
  }
  .recent__next {
    right: -15px;
  }
  .view__wrap {
    display: block;
  }
  .view__img {
    display: none;
  }
  .view__slider {
    margin-right: auto;
    margin-left: auto;
  }
  .view__rating {
    padding-left: 0;
  }
  .recent__list {
    margin-right: 0;
    justify-content: space-around;
    
    .recent__item {
      margin-right: 0;
    }
  }
  .gift-icons {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .gift-icons__item {
    margin-bottom: 20px;
    
    &:hover {
      .gift-icons__drop {
        display: none;
      }
    }
    
    &:nth-child(2) {
      .gift-icons__drop {
        right: 0;
        left: auto;
        background-image: url(../img/images/shape-last.png);
      }
    }
  }
}

@media (max-width: 1022px) {
  .topics__item {
    width: 33%;
    min-width: 33%;
  }
  .card__wrap,
  .video-promo__wrap,
  .new-video__wrap {
    display: block;
  }
  .card__video,
  .video-promo__info,
  .new-video__info {
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .video-promo__block,
  .new-video__img {
    width: 100%;
    text-align: center;
  }
  .steps-tabs__list {
    justify-content: space-around;
  }
  .steps-tabs__item {
    margin-right: 0;
  }
  .steps-tabs__title {
    justify-content: center;
  }
  .video-promo__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .card__info {
    width: 100%;
  }
  .card__video .new-video__link img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 766px) {
  .icons,
  .manager__list {
    flex-wrap: wrap;
  }
  .manager__item {
    margin-bottom: 20px;
  }
  .connect__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .icons__item {
    width: 50%;
  }
  .help__line {
    display: block;
  }
  .help__field {
    width: 100%;
    margin-bottom: 10px;
  }
  .help__btn {
    display: block;
    margin-top: 20px;
    width: 260px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .block__info {
    flex-direction: column;
    align-items: center;
  }
  .block__label {
    margin-bottom: 30px;
  }
  .block__text {
    width: 100%;
  }
  .block__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .block__img {
    width: 260px;
    margin-bottom: 20px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  .video-icons__list {
    flex-direction: column;
    align-items: center;
  }
  .steps__item {
    margin-bottom: 10px;
  }
  .wrapper__center .page-title span::before {
    display: none;
  }
  .card__video .new-video__link::before {
    bottom: 10px;
    font-size: 26px;
  }
  .net {
    flex-direction: column;
    
    span {
      margin-right: 0;
      text-align: center;
    }
  }
  .net__list {
    margin-top: 10px;
  }
  .view__slider {
    flex-direction: column-reverse;
  }
  .gallery__preview {
    width: 100%;
    height: 81px;
    margin-top: 23px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .gallery__main {
    width: 100%;
    max-width: 100%;
  }
  .gallery-thumbs .swiper-slide {
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      flex: 0 0 auto;
    }
  }
  .view__next {
    transform: none;
    top: 40px;
    bottom: auto;
    right: 0;
  }
  .view__prev {
    transform: none;
    top: 40px;
    left: 0;
  }
  .view__info {
    flex-direction: column;
  }
  .view__rating {
    margin-bottom: 20px;
  }
  .gallery-top {
    height: 400px;
  }
  .view__pic img {
    height: 400px;
    width: auto;
  }
  .gift__field {
    width: 45%;
  }
  .gift-icons__drop {
    left: -100px;
    max-width: 90vw;
  }
  .gift-icons__item:nth-child(2) .gift-icons__drop,
  .gift-icons__item:last-child .gift-icons__drop {
    left: -100px;
    right: auto;
    background-image: url(../img/images/shape.png);
  }
  .video-icons__img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .problem__fields,
  .problem__text,
  .icons__item {
    width: 100%;
  }
  .connect__item--email .connect__tel,
  .connect__tel {
    font-size: 20px;
  }
  .connect__item span {
    font-size: 12px;
  }
  .problem__wrap,
  .problem__bottom {
    display: block;
  }
  .problem__captcha {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .problem__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .topics__item {
    width: 100%;
    min-width: 100%;
    padding-right: 0;
  }
  .new-video__link::after {
    width: 100px;
    height: 100px;
  }
  .steps-tabs__title,
  .steps__list {
    flex-direction: column;
  }
  .steps__item {
    border-right: 0;
  }
  .steps-tabs__name {
    margin: 0;
  }
  .video-promo__title {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.3;
  }
  .gift__select,
  .gift__field {
    width: 100%;
    margin-right: 0;
  }
  .gift-icons__drop,
  .gift-icons__item:nth-child(2) .gift-icons__drop,
  .gift-icons__item:last-child .gift-icons__drop {
    left: -20px;
    padding: 20px;
  }
}
