@media (max-width: 766px) {
  .icons,
  .manager__list {
    flex-wrap: wrap;
  }
  .manager__item {
    margin-bottom: 20px;
  }
  .connect__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .icons__item {
    width: 50%;
  }
  .help__line {
    display: block;
  }
  .help__field {
    width: 100%;
    margin-bottom: 10px;
  }
  .help__btn {
    display: block;
    margin-top: 20px;
    width: 260px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .block__info {
    flex-direction: column;
    align-items: center;
  }
  .block__label {
    margin-bottom: 30px;
  }
  .block__text {
    width: 100%;
  }
  .block__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .block__img {
    width: 260px;
    margin-bottom: 20px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 480px) {
  .problem__fields,
  .problem__text,
  .icons__item {
    width: 100%;
  }
  .connect__item--email .connect__tel,
  .connect__tel {
    font-size: 20px;
  }
  .connect__item span {
    font-size: 12px;
  }
  .problem__wrap,
  .problem__bottom {
    display: block;
  }
  .problem__captcha {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .problem__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
